body {
    color: beige;
    background-color: rgb(27, 109, 185);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 18px;

    font-weight: 600;
    font-size: 34px;
}

a {
    color: white;
}

header img {
    width: 250px;
    height: 250px;
    border-radius:50%;
    border: 5px solid #5BBE42;

    margin-top: 50px;
}

.center {
    text-align: center;
}

main {
    margin: 30px 700px 30px 40px;
}

h1 {
    color: #5BBE42;
    font-size: 40px;
    margin: 0 0 0 40px;
}

h2 {
    font-size: 60px;
    margin: 0 0 0 40px;
}

footer img {
    display: inline-flex;
    width: 80px;
    height: 80px;
    border-radius:50%;
}

footer a {
    display: flex;
    justify-content: center;
    align-items: ;
    font-size: 20px;
}
