body {
    color: beige;
    background-color: rgb(27, 109, 185);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 18px;

    font-weight: 600;
    font-size: 34px;
}

a {
    color: white;
}

header img {
    width: 250px;
    height: 250px;
    border-radius:50%;
    border: 5px solid #5BBE42;

    margin-top: 50px;
}

.center {
    text-align: center;
}

h1 {
    color: #5BBE42;
    font-size: 40px;
    
}

h2 {
    font-size: 60px;
    
}

footer img {
 
    width: 35px;
    height: 35px;
    border-radius:50%;
}

footer {
    display: flex;
    justify-content: center;
  
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    margin: 0 100px;
}

nav a:hover {
    color: #5BBE42;
}