* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh; /* Garante que o degradê cubra toda a altura da tela */
  background: linear-gradient(to bottom, #48a11f, #2c3e50);
}