* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  color: rgb(255, 255, 255);
  background-color: rgb(67, 98, 184);
  font-family: Arial, Helvetica, sans-serif;
  
  background-image: url(./image/cint_2_dog.png);
  opacity: 0.8;
  background-size: cover;
  background-position: top center;
  /* width: 100vw;
  height: 100vh; */
}

  

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

ul li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  

  color: white;
  text-decoration: none;
  padding: 10px 15px; /* Padding ajustado para responsividade */
  font-size: 30px; /* Tamanho da fonte ajustado para responsividade */
  font-weight: 600;  
}

main {
  display: flex;  
  align-items: center;
  justify-content: center;
  width: 90%; /* Adicionado para limitar a largura em telas maiores */
  max-width: 1000px; /* Adicionado para limitar a largura máxima */
  margin: 120px auto; /* Adicionado margin para centralizar */
}

section h3 {
  text-align: center;
  font-size: 2rem; /* Tamanho da fonte ajustado para responsividade */
  margin: 30px 0 15px; /* Ajustado o margin para melhor espaçamento vertical */
}

section p {
  font-size: 16px; /* Tamanho da fonte ajustado para responsividade */
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
  text-indent: 4%;
}